@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: transparent;
}
.navbar .container {
  padding: 30px 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container img {
  height: 32px;
}
.navbar .container ul {
  display: flex;
  text-transform: uppercase;
}
.navbar .container ul li {
  margin-right: 35px;
}
.navbar .container ul li .link {
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #fff;
  font-size: 15.2px;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}
.navbar .container ul li .link:hover {
  color: #ffc800;
  /* Hover durumunda link rengini değiştir */
}

.mastheader {
  width: 100%;
  height: 100vh;
  background-image: url(../image/header-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.mastheader .content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mastheader .content .title {
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  font-style: italic;
  margin-bottom: 32px;
}
.mastheader .content .heading {
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  color: #fff;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
  margin-bottom: 64px;
}
.mastheader .content .button {
  width: 224px;
  height: 69px;
  background-color: #ffc800;
  border: 1px solid #ffc800;
  color: #fff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
}
.mastheader .content .button:hover {
  color: #fff;
  background-color: #d9aa00;
  border-color: #cca000;
}

#service {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#service .service-container {
  padding: 40px 0;
  text-align: center;
}
#service .service-title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
#service .service-content {
  color: #6c757d;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 64px;
}
#service .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#service .row .item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#service .row .item h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
#service .row .item p {
  text-align: center;
  color: #6c757d;
  width: 69%;
  line-height: 1.75;
}
#service .row .item .icon {
  text-align: center;
  position: relative;
  height: 128px;
  width: 128px;
  border-radius: 50%;
  background-color: rgb(255, 200, 0);
}
#service .row .item .icon i {
  position: absolute;
  top: 25%;
  font-size: 4em;
}

#portfolio {
  height: 170vh;
  width: 100%;
  background-color: rgb(248, 249, 250);
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#portfolio .portfolio-container {
  padding: 40px 0;
  text-align: center;
}
#portfolio .portfolio-title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
#portfolio .portfolio-content {
  color: #6c757d;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 64px;
}
#portfolio .port-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 80px;
}
#portfolio .port-row .port-item {
  margin-bottom: 30px;
}
#portfolio .port-row .port-item img {
  background-size: cover;
  height: 272px;
  width: 373px;
}
#portfolio .port-row .port-item .product-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1.5rem;
  margin-top: -15px;
}
#portfolio .port-row .port-item .product-content .content-head {
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  font-weight: 700;
}

#about {
  width: 100%;
  height: 100vh;
  font-family: "Montserrat", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#about .about-container {
  padding: 40px 0;
  text-align: center;
}
#about .about-container .about-title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
#about .about-container .about-content {
  color: #6c757d;
  font-size: 16px;
  font-style: italic;
  margin-bottom: 64px;
}
#about .timeline {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: red;
  margin-left: -15px;
}
#about .timeline li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#about .timeline li .item {
  position: relative;
  top: -40px;
  width: 170px;
  height: 170px;
  margin-left: -17px;
  border: 7px solid #e9ecef;
  background-color: #ffc800;
  border-radius: 100%;
}
#about .timeline li .item img {
  max-width: 100%;
  height: auto;
  border-radius: 50% !important;
}
#about .timeline li .timeline-panel {
  position: absolute;
  top: -25px;
  left: -32%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#about .timeline li .timeline-panel .heading {
  width: 30%;
  text-align: right;
}
#about .timeline li .timeline-panel .body {
  width: 30%;
  text-align: right;
  color: red;
}/*# sourceMappingURL=style.css.map */